<div class="card" (contextmenu)="info(product)">
    <div class="card-image">
      <img [src]="product.image" alt="Placeholder image">
      </div>
    <div class="card-content">
        <p class="title is-5">
            {{product.title}}
        </p>
        <div class="content desc">
          {{product.description}}
        </div>
      </div>
      <footer class="card-footer">
        <a (click)="buy(product)" class="card-footer-item">{{priceWithIVA() | currency:'EUR':true}}</a>
      </footer>
</div>